= render "shared/error_messages", :target => @competitor
%fieldset#general_fields
  %legend= t(:general)
  = f.field_container :name do
    = f.label :name
    <br />
    = f.text_field :name, :style => "width:410px"
    
%fieldset#search_fields
  %legend= t(:search_options)
  = f.field_container :search_page do
    = f.label :search_page
    <br />
    = f.text_field :search_page, :style => "width:410px"
    NOTE: Can use things like \#{varent.name} or \#{varent.product.product_properties.where(:property_name => 'some_name')}
  = f.field_container :search_link_selector do
    = f.label :search_link_selector
    <br />
    = f.text_field :search_link_selector, :style => "width:410px"
    Example: div#search_results .search_result:first a
  = f.field_container :search_price_selector do
    = f.label :search_price_selector
    <br />
    = f.text_field :search_price_selector, :style => "width:410px"
    Example: div#product_info .selling_price